{% extends 'products/base.html' %}

{% block title %}Delete Product - Torilo Shop{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Delete Product</h1>
        <p>Are you sure you want to delete <strong>{{ product.name }}</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, delete</button>
            <a href="{% url 'product_detail' product.pk %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
